* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}

body {
    background: #6242c4;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.profile {
    text-align: center;
    margin-top: 20px;
        
}

.avatar {
    width: 80px;
    border-radius: 100px;;
    border: 2px solid #ffffff;
    margin-bottom: 25px;
    box-shadow: 0 0 20px #ffffff;
}

h1 {
    font-size: 24px;
    font-weight: 100;
    font-family: 'Architects Daughter';
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 20px;
}

.social img {
    width: 35px;
    margin-bottom: 20px;
}

.link-list li {
    margin: 10px 20px;
    list-style: none;

}
.link-list li a {
    display: block;
    background: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    list-style: none;
    color: #6242c4;   
}

.link-list li a span {
   display: block;
   margin-top: 10px;
   font-size: 15px;
   color: #707070;
}

.footer {
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    margin-top: 50px;
}
