* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #312fa5;
    background-position: cover;
    color: #fff;
}

.profile {
    text-align: center;
    margin-top: 20px;
        
}

.avatar {
    width: 120px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px;
}

h2 {
    margin-top: 15px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 20px;
}

.social img {
    width: 35px;
}
